# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

lib64/
parts/
sdist/
var/

# exclude everything
facelog/*
facephotos/*
venv/

# exception to the rule
!facelog/.gitkeep
!facephotos/.gitkeep
!facephotos/Obama
!facephotos/Obama/*

# exclude local debug evnironment variables
setenv.sh
start_debug.sh

*.egg-info/
.installed.cfg
*.egg
.remote-sync.json
.ftpconfig

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot
.DS_Store

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# pyenv python configuration file
.python-version

.idea/
